# Configuration file

general {
    # Selects the files that are being loaded [default: ]
    S:LoadingFiles <
        anvil.json
        flint.json
        flint_chunk.json
        cactus_drink.json
     >

    # Selects the files that load into the NBTStorage [default: ]
    S:NBTFiles <
     >
    B:printDocumentation=true
    B:printDocumentationInCurseFormat=false
}


plugins {
    B:Forge=true
    B:GameStages=true
    B:Loot=true
    B:Player=true
    B:ReSkillable=true
    B:ScavengeTiming=true
    B:Score=true
    B:ToughAsNails=true
    B:Utils=true
    B:World=true
}


